%%-*- mode: erlang -*-

{deps, 
  [
    {webmachine, "1.10.*", {git, "git://github.com/basho/webmachine", "HEAD"}},
    {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client", "HEAD"}},
    {erlydtl, ".*", {git, "git://github.com/OJ/erlydtl.git", "HEAD"}},
    {meck, ".*", {git, "git://github.com/eproxus/meck.git", "HEAD"}}
  ]
}.
